@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-animation {
    position: relative;
    color: aliceblue;

    :hover {
      color: #67c960;
    }

    &::after {
      content: '';
      background-color: #67c960;
      border-radius: 8px;
      position: absolute;
      bottom: -6px;
      left: 50%;
      height: 3px;
      width: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .version {
    @media (width > 1024px) {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease;
        font-size: 20px;
        opacity: 0;
      }

      &::before {
        content: '1.13 – 1.21';
        top: 0;
      }

      &::after {
        content: 'Java/Bedrock';
        bottom: 0;
      }

      &:hover::before,
      &:hover::after {
        opacity: 0.8;
      }

      &:hover::before {
        top: -40px;
      }

      &:hover::after {
        bottom: -40px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #67c960;
  border-radius: 8px;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #ffffff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.copy-fade-in {
  animation: fadeIn 0.2s ease-in-out;
}

.members-borders {
  @media (width > 1024px) {
    position: relative;

    &:before,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30px;
      z-index: 10;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #131313)
    }

    &:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #131313)
    }

    &:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #131313)
    }
  }
}

.member {
  @media (width > 1024px) {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      font-size: 20px;
      opacity: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      font-size: 1.1rem;
      bottom: 0;
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.8;
    }

    &:hover::before {
      top: -30px;
    }

    &:hover::after {
      bottom: -42px;
    }
  }
}

.member-list_tw {
  color: #67c960;

  @media (width > 1024px) {
    &::before {
      content: 'list_tw';
    }

    &::after {
      content: 'Владелец сервера';
    }
  }
}

.member-ratkea {
  color: #bfb1df;

  @media (width > 1024px) {
    &::before {
      content: 'женечка';
    }

    &::after {
      content: 'Разработчик сайта';
    }
  }
}

.member-dashka17 {
  color: #ffcf2e;

  @media (width > 1024px) {
    &::before {
      content: 'Dashka17';
    }

    &::after {
      content: 'Ненормальная';
    }
  }
}

.member-ouiking {
  color: #9932CC;

  @media (width > 1024px) {
    &::before {
      content: 'Даниэлиус';
    }

    &::after {
      content: 'Администратор';
    }
  }
}

.member-trip {
  color: #01fff1;

  @media (width > 1024px) {
    &::before {
      content: 'badtrip_';
    }

    &::after {
      content: 'Блудный сын';
    }
  }
}

.member-nokarena {
  color: #54d071;

  @media (width > 1024px) {
    &::before {
      content: 'лол12';
    }

    &::after {
      content: 'Модератор';
    }
  }
}

.member-sora {
  color: #f8a382;

  @media (width > 1024px) {
    &::before {
      content: 'SoraIspania';
    }

    &::after {
      content: 'Модератор';
    }
  }
}

.member-istork {
  color: #ff4c3b;

  @media (width > 1024px) {
    &::before {
      content: 'iStork';
    }

    &::after {
      content: 'Модератор';
    }
  }
}

.member-crucesaureae {
  color: #fdb3fc;

  @media (width > 1024px) {
    &::before {
      content: 'crucesaureae';
    }

    &::after {
      content: 'Хелпер';
    }
  }
}

.member-demi_0 {
  color: #ffdbca;

  @media (width > 1024px) {
    &::before {
      content: 'demi_0';
    }

    &::after {
      content: 'Хелпер';
    }
  }
}

.member-mireraqq {
  color: #779e23;

  @media (width > 1024px) {
    &::before {
      content: 'Лео бравл старс';
    }

    &::after {
      content: 'Менеджер ивентов';
    }
  }
}

.member-kristopher {
  color: #c42389;

  @media (width > 1024px) {
    &::before {
      content: '_Kristopher_';
    }

    &::after {
      content: 'Креативный менеджер';
    }
  }
}

.member-muz0ku {
  color: #00fec3;

  @media (width > 1024px) {
    &::before {
      content: 'muz0ku';
    }

    &::after {
      content: 'Менеджер Ада';
    }
  }
}

.member-drainedgod {
  color: #9459ff;

  @media (width > 1024px) {
    &::before {
      content: 'drainedпёс';
    }

    &::after {
      content: 'Менеджер Энда';
    }
  }
}

.member-masha {
  color: #0cb4c4;

  @media (width > 1024px) {
    &::before {
      content: 'Masha';
    }

    &::after {
      content: 'Талисман проекта';
    }
  }
}
