@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: theme('colors.green');
  --color-mango: theme('colors.mango');
  --color-blue: theme('colors.blue');
  --color-purple: theme('colors.purple');
  --color-black: theme('colors.black');
  --color-white: theme('colors.white');
}

/* Reset default styles */
html {
  font-size: 16px;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Image,
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

ul, li {
  list-style: none;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.transition-all {
  transition: all 0.2s ease-in;
}

.image-loading {
  transition: all 0.2s ease-in;
  opacity: 0;
  filter: blur(20px);
}

/* Links hover underline animation */
@media (width > 1024px) {
  .hover-underline {
    position: relative;

    &:hover {
      color: var(--hover-color);
    }

    &::after {
      content: '';
      background-color: var(--background-color);
      border-radius: 8px;
      position: absolute;
      bottom: -6px;
      left: 50%;
      height: 3px;
      width: 0;
      transform: translateX(-50%);
      transition: all 0.2s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.underline-green {
  --hover-color: var(--color-green);
  --background-color: var(--color-green);
}

.underline-blue {
  --hover-color: var(--color-blue);
  --background-color: var(--color-blue);
}

.underline-purple {
  --hover-color: var(--color-purple);
  --background-color: var(--color-purple);
}

.underline-mango {
  --hover-color: var(--color-mango);
  --background-color: var(--color-mango);
}

/* Buttons onClick text animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-fade-in {
  animation: fadeIn 0.2s ease-in;
}

/* Copy IP button - Controls section */
@media (width > 1024px) {
  .hover-versions {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s ease-in;
      font-size: 20px;
      opacity: 0;
    }

    &::before {
      content: '1.13 – 1.21';
      top: 0;
    }

    &::after {
      content: 'Java/Bedrock';
      bottom: 0;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover::after {
      bottom: -40px;
      opacity: 1;
    }

    &:hover::before {
      top: -40px;
    }

    &:hover::after {
      bottom: -40px;
    }
  }
}

/* Achievements section */
@media (width > 1024px) {
  .achievement-tps,
  .achievement-community,
  .achievement-worlds {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-size: 1.15rem;
      text-wrap: nowrap;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      top: -40px;
    }

    &:hover::after {
      bottom: -40px;
    }
  }

  .achievement-tps {
    &::before {
      content: 'В среднем 8 ТПС'
    }

    &::after {
      content: 'По праздникам бывает и 10'
    }
  }

  .achievement-community {
    &::before {
      content: 'Дети на админах'
    }

    &::after {
      content: 'И токсичное комьюнити'
    }
  }

  .achievement-worlds {
    &::before {
      content: 'Но ты не волнуйся'
    }

    &::after {
      content: 'Получишь бан в каждом из них'
    }
  }
}

/* Subscription section */
.hover-subscription {
  position: relative;

  &::after {
    content: 'Выдели себя и поддержи проект';
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &:hover::after {
    opacity: 1;
    bottom: -40px;
  }
}

/* Team members section */
@media (width > 1024px) {
  .hover-shy {
    position: relative;

    &::after {
      content: '';
      background-image: url('/icon/shy.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      pointer-events: none;
      top: 33%;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }

    &:active::after {
      opacity: 1;
    }
  }

  .members-borders,
  .member-card {
    position: relative;

    &:before,
    &:after {
      position: absolute;
    }
  }

  .members-borders {
    &:before,
    &:after {
      content: "";
      top: 0;
      height: 100%;
      width: 30px;
      z-index: 10;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--color-black))
    }

    &:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--color-black))
    }

    &:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-black))
    }
  }

  .member-card {
    &::before,
    &::after {
      font-size: 18px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s ease-in;
      opacity: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      top: -30px;
    }

    &:hover::after {
      bottom: -42px;
    }
  }
}

@media (width > 1024px) {
  .member-list_tw,
  .member-dashka17,
  .member-wahka,
  .member-sorafreak,
  .member-iv0xy,
  .member-muz0ku,
  .member-zevep,
  .member-biggishpark70,
  .member-reways88,
  .member-tryxan,
  .member-vortex,
  .member-ratkea,
  .member-masha,
  .member-defektive {
    &::before {
      content: var(--member-nickname)
    }

    &::after {
      content: var(--member-role);
    }
  }
}

.member-list_tw {
  color: #67c960;
  --member-nickname: 'list_tw';
  --member-role: 'Главный в цирке';
}

.member-dashka17 {
  color: #ff61e5;
  --member-nickname: 'Dashka17';
  --member-role: 'Ненормальная';
}

.member-wahka {
  color: #af0b0a;
  --member-nickname: 'lol12';
  --member-role: 'Модератор';
}

.member-sorafreak {
  color: #f8a382;
  --member-nickname: 'SoraIspania';
  --member-role: 'Модератор';
}

.member-iv0xy {
  color: #fdb3fc;
  --member-nickname: 'iv0xy';
  --member-role: 'круасан';
}

.member-muz0ku {
  color: #00fec3;
  --member-nickname: 'muz0ku';
  --member-role: 'Рейтинг 3.67';
}

.member-zevep {
  color: #79b15a;
  --member-nickname: 'zevep';
  --member-role: 'Ивент менеджер';
}

.member-biggishpark70 {
  color: #50f887;
  --member-nickname: 'BiggishPark70';
  --member-role: 'Мамин строитель';
}

.member-tryxan {
  color: #02febc;
  --member-nickname: 'Трухан';
  --member-role: 'Дискорд кук';
}

.member-vortex {
  color: #fec4c6;
  --member-nickname: 'NebulousVortex';
  --member-role: 'Сеньор JSON дев';
}

.member-ratkea {
  color: #bfb1df;
  --member-nickname: 'Женечка';
  --member-role: 'Ищу работу';
}

.member-defektive {
  color: #f8cda1;
  --member-nickname: 'DefektiveDed';
  --member-role: 'Дизайнер';
}

.member-masha {
  color: #0db6bf;
  --member-nickname: 'Masha';
  --member-role: 'Талисман проекта';
}

/* World selection cards - Map page */
.card-blur {
  filter: blur(4px) brightness(70%);
  transition: all 0.2s ease-in;
}

@media (width > 1024px) {
  .width-animation {
    transition: all 0.2s ease-in;
    flex: 1;

    &:hover {
      flex: 3;

      & .card-blur {
        filter: none;
      }

      & > p {
        opacity: 0;
      }
    }
  }
}

/* Wiki page */
.toc {
  display: flex;
}

@media (width < 1164px) {
  .search,
  .leftbar,
  .toc {
    display: none;
  }
}

.text-heading {
  font-size: 24px;
  font-weight: bold;
}

.text-subheading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 2rem;
}

.leading-height {
  line-height: 34px
}

.text-note {
  font-weight: 600;
  color: var(--color-white);
  line-height: 34px;
  border-radius: 4px;
  padding: 0.25rem 0.4rem;
}

.note-purple {
  background-color: rgba(114, 137, 218, 0.2);
}

.note-green {
  background-color: rgba(103, 201, 96, 0.2);
}

.note-blue {
  background-color: rgba(46, 159, 210, 0.2);
}

.note-red {
  background-color: rgba(237, 46, 56, 0.1);
}

.text-subtext {
  font-size: 0.875rem;
  text-wrap: nowrap;
  margin-top: 2rem;
  opacity: .5;
}

/* Shop page */
.product-dialog {
  width: 100%;
  max-height: 100%;

  @media (width > 1024px) {
    width: calc(100% - 2rem);
    max-height: calc(100% - 3rem);
    height: fit-content;
  }
}

.scroll-transparent {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.hover-thanks {
  @media (width > 1024px) {
    position: relative;

    &::after {
      content: attr(data-thanks-message);
      font-weight: normal;
      text-wrap: nowrap;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    &:hover::after {
      opacity: 1;
      top: -40px;
    }
  }
}
