@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .map {
    max-height: 100dvh;
    height: 100%;

    @media (max-width: 1024px) {
      height: calc(100dvh - 76px);
    }
  }

  .map-lg {
    @media (min-width: 1024px) {
      height: calc(100vh - 98px);
    }
  }

  .link-animation {
    position: relative;
    color: aliceblue;

    :hover {
      color: #67c960;
    }

    :hover::after {
      width: 100%;
    }
  }

  .version {
    position: relative;

    &::before {
      content: '1.13 – 1.21';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      font-size: 20px;
      opacity: 0;;
    }

    &:hover::before {
      top: -45px;
      opacity: 0.8;
    }

    &::after {
      content: 'Java/Bedrock';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      font-size: 20px;
      opacity: 0;
    }

    &:hover::after {
      bottom: -45px;
      opacity: 0.8;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #67c960;
  border-radius: 8px;
}

body {
  background-color: black;
  color: aliceblue;
}
